{% extends 'base.html' %}
{% block content %}
{% load static %}
    <header class="pizza-header">
        <h1 class="pizza-header-title"><b>Pizzas</b></h1>
        <div class="search-bar-container">
            <input type="search" class="form-control", id="search-box" placeholder="Search by name">
            <!-- <input class="menu-search-bar" type="text" placeholder="Search by name or ingredients"> -->
            <!-- <img class="search-bar-maginifying-glass" src="/static/public/photos/Screenshot 2023-05-08 225625.png" alt=""> -->
        </div>
    </header>

    <div class="pizza-container" id="pizzas">
        <div class="order-and-filter">

            <div class="order-by">
                <h3><b>Order by</b></h3>
                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
                <label class="btn btn-outline-success" for="success-outlined"><b>Name</b></label>
                <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">  
                <label class="btn btn-outline-success" for="danger-outlined"><b>Price</b></label>
            </div>
            <div class="filter-box">
                <h3><b>Filter by:</b></h3>
                <h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="popular">
                        <label class="form-check-label" for="flexCheckDefault">
                            Popular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            New
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Spicy
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Veggie
                        </label>
                    </div>
                </h4>
            </div>
        </div>
        {% for pizza in pizzas %}
            {% include 'menu/pizza.html' with pizza=pizza %}
        {% endfor %}
    </div>
{% endblock %}