{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="pizza-container">
        {% for pizza in pizzas %}
            <a href="#" class="btn btn-primary" style="width: 18rem; background-color: gray; border: gray;">
                <img src="{% static pizza.image %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="pizza-title">{{ pizza.name }}</h5>
                    <p class="pizza-toppings">{{ pizza.toppings }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}