{% extends "base.html" %}
{% block content %}
    <div class="pizza-page">
        <h1>{{ pizza.name }}</h1>
        <div class="pizza-options" role="group" aria-label="Basic radio toggle button group">
            <h3><b>Dough:</b></h3>
            <input type="radio" class="btn-check" name="dough" id="thin" autocomplete="off">
            <label class="btn btn-outline-primary" for="thin">Thin</label>
          
            <input type="radio" class="btn-check" name="dough" id="regular" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="regular">Regular</label>
          
            <input type="radio" class="btn-check" name="dough" id="vegan" autocomplete="off">
            <label class="btn btn-outline-primary" for="vegan">Vegan</label>
        </div>
        <div class="pizza-options" role="group" aria-label="Basic radio toggle button group">
            <h3><b>Size:</b></h3>
            <input type="radio" class="btn-check" name="size" id="small" autocomplete="off">
            <label class="btn btn-outline-primary" for="small">Small</label>
          
            <input type="radio" class="btn-check" name="size" id="medium" autocomplete="off">
            <label class="btn btn-outline-primary" for="medium">Medium</label>
          
            <input type="radio" class="btn-check" name="size" id="large" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="large">Large</label>
        </div>
    </div>
    {% endblock %} 