{% load static %}

<div class="well-pizza">
    <a href="/menu/{{ pizza.id }}" class="btn btn-primary" style="width: 18rem; background: rgba(118, 116, 116, 0.7);; border: gray;">
        <img src="/static/{{ pizza.pizzaimage_set.first }}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="pizza-title">{{ pizza.name }}</h5>
            <p class="pizza-description">{{ pizza.description }}</p>
            <div class="pizza-categories">
                <div class="price-container"> 
                    <div class="price-container-wrapper"> 
                        <p class="price-listing-text">Small: </p> <p class="price-listing">{{ pizza.price_small }}</p> 
                    </div> 
                    <div class="price-container-wrapper">
                        <p class="price-listing-text">Medium: </p> <p class="price-listing">{{ pizza.price_medium }}</p> 
                    </div> 
                    <div class="price-container-wrapper">
                        <p class="price-listing-text">Large: </p> <p class="price-listing">{{ pizza.price_large }}</p> 
                    </div>
                </div>
                <!-- {% for category in pizza.pizza_category_set.all %}
                    <p>{{ category.category }}</p>
                {% endfor %} -->
            </div>
        </div>
    </a>
</div>