<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>
</head>
<body>
    <div style="position: absolute; left: 20%;">
        <h1>Contact information</h1>
        <form class="form form-horizintal" method="post" action="{% url 'checkout-contact' %}" style="    display: flex; flex-direction: column; width: 800px;">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Next" class="btn btn-promary pull-right" style="clear: both; margin: 10px 0;">
        </form>
    </div>
</body>
</html>