{% extends "base.html" %}
{% block content %}
{% load static %}
<img src="{% static 'img/profile-background-img.jpg' %}" alt="" style="position: absolute; z-index: -10; width: 100%;">

<div class="container">
    <h1 style="margin-top: 40px;">Edit profile</h1>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn bth-primary pull-right" style="clear:both; margin:10px 0; width: 7%; background-color: rgba(0, 199, 20, 0.63); border-color: black;" value="Save">
        <button class="change-profile-cancel-btn">
            <a href="{% url 'home-index' %}" style="color: black; text-decoration: none; font-family: 'Roboto', sans-serif;">Cancel</a>
        </button>

    </form>
</div>

{% endblock %}