{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="offers-header">
        <h1 class="offers-title"><b>Offers</b></h1>
    </div>
    <div class="pizza-container">
        {% for offer in offers %}
            <a href="{% url 'menu-index' %}?name={{ offer.name }}" onclick="add_offer_cart('{{ offer.name }}', '{{ offer.img }}')" class="btn btn-primary" style="width: 18rem; background: rgba(118, 116, 116, 0.7);; border: gray;">
                <img src="/static/{{ offer.offerimage_set.first.image  }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="pizza-title">{{ offer.name }}</h5>
                    <p class="pizza-toppings">{{ offer.description }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}