{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <img src="{% static 'img/pizza_background.jpg' %}" alt="" style="position: absolute; z-index: -10; width: 100%;">
<div class="container">
    <a href="{% url 'offers-index' %}" style="text-decoration: none; ">
        <div class="home_box">
            <img src="{% static 'img/homepage_img.jpg' %}" alt="homepage_img" id="homepage_img">
            <span class="home_text">
                <h1>2 for 1 on fridays!</h1>
                <br>
                <h3>You can get two pizzas for the price of one every friday</h3>
            </span>
        </div>
    </a>
</div>
{% endblock %}