{% extends "base.html" %}
{% block content %}

<div class="terms-page-container">
    <div class="terms-container">
        <div class="terms-text-container">
            <h1 style="margin-bottom: 20px;">Terms of use</h1>
            <h3>Acceptance of terms</h3>
            <p>The services that OPOS inc. provides to User is subject to the following Terms of Use ("TOU"). 
                OPOS inc. reserves the right to update the TOU at any time without notice to User. The most 
                current version of the TOU can be reviewed by clicking on the "Terms of Use" hypertext link 
                located at the bottom of our Web pages.</p>
            <h3>Description of services</h3>
            <p>Through its Web property, OPOS inc. provides User with access to a variety of resources, 
                including submission areas, communication forums and product information (collectively "Services"). 
                The Services, including any updates, enhancements, new features, and/or the addition of any new 
                Web properties, are subject to the TOU.</p>
            <h3>User conduct</h3>
            <p>User shall use OPOS inc. for lawful purposes only. User shall not post or transmit through 
                OPOS inc. any material which violates or infringes in any way upon the rights of others, 
                which is unlawful, threatening, abusive, defamatory, invasive of privacy or publicity rights, vulgar, 
                obscene, profane or otherwise objectionable, which encourages conduct that would constitute a criminal 
                offense, give rise to civil liability or otherwise violate any law, or which, without OPOS inc.'s 
                express prior approval, contains advertising or any solicitation with respect to products or services.</p>
            <h3>Use of services</h3>
            <p>The Services may contain email services, bulletin board services, chat areas, news groups, forums, 
                communities, personal web pages, calendars, photo albums, file cabinets and/or other message or 
                communication facilities designed to enable User to communicate with others (each a "Communication Service" 
                and collectively "Communication Services"). User agrees to use the Communication Services only to post, 
                send and receive messages and material that are proper and, when applicable, related to the particular 
                Communication Service. By way of example, and not as a limitation, User agrees that when using the 
                Communication Services, User will not:</p>
                <div style="padding: 50px; padding-top: 0px; padding-bottom: 10px;">
                    <ul>
                        <li>Use the Communication Services in connection with surveys, contests, pyramid schemes, chain letters, 
                            junk email, spamming or any duplicative or unsolicited messages (commercial or otherwise)</li>
                        <li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of 
                            privacy and publicity) of others.</li>
                        <li> Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, obscene, 
                            indecent or unlawful topic, name, material or information.</li>
                        <li>Upload, or otherwise make available, files that contain images, photographs, software or other 
                            material protected by intellectual property laws, including, by way of example, and not as limitation, 
                            copyright or trademark laws (or by rights of privacy or publicity) unless User own or control the rights 
                            thereto or have received all necessary consent to do the same.</li>
                        <li>Use any material or information, including images or photographs, which are made available through the 
                            Services in any manner that infringes any copyright, trademark, patent, trade secret, or other proprietary 
                            right of any party.</li>
                        <li>Upload files that contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files, or any 
                            other similar software or programs that may damage the operation of another's computer or property of another.</li>
                    </ul>
                </div>
            <h3>Your Privacy</h3>
            <p>Please refer to our <a href="{% url 'policy-index' %}">privacy policy</a></p>
            <h3>Member account, password and security</h3>
            <p>If any of the Services requires User to open an account, User must complete the registration process by providing 
                OPOS inc. with current, complete and accurate information as prompted by the applicable registration form. 
                User also will choose a password and a user name. User is entirely responsible for maintaining the confidentiality 
                of User's password and account. Furthermore, User is entirely responsible for any and all activities that occur under 
                User's account. User agrees to notify OPOS inc. immediately of any unauthorized use of User's account or 
                any other breach of security. OPOS inc. will not be liable for any loss that User may incur as a result 
                of someone else using User's password or account, either with or without User's knowledge. However, User could be 
                held liable for losses incurred by OPOS inc. or another party due to someone else using User's account 
                or password. User may not use anyone else's account at any time, without the permission of the account holder.</p>
            <p style="font-size: x-small; font-weight: bold;">*Disclamer: none of this is enforced</p>
        </div>
    </div>
</div>

{% endblock %}